
:root{
/* CSS HEX */
--flickr-pink: #f72585ff;
--purple: #7209b7ff;
--trypan-blue: #3a0ca3ff;
--ultramarine-blue: #4361eeff;
--vivid-sky-blue: #4cc9f0ff;

/* CSS HSL */
--flickr-pink: hsla(333, 93%, 56%, 1);
--purple: hsla(276, 91%, 38%, 1);
--trypan-blue: hsla(258, 86%, 34%, 1);
--ultramarine-blue: hsla(229, 83%, 60%, 1);
--vivid-sky-blue: hsla(194, 85%, 62%, 1);

/* SCSS HEX */
$flickr-pink: #f72585ff;
$purple: #7209b7ff;
$trypan-blue: #3a0ca3ff;
$ultramarine-blue: #4361eeff;
$vivid-sky-blue: #4cc9f0ff;

/* SCSS HSL */
$flickr-pink: hsla(333, 93%, 56%, 1);
$purple: hsla(276, 91%, 38%, 1);
$trypan-blue: hsla(258, 86%, 34%, 1);
$ultramarine-blue: hsla(229, 83%, 60%, 1);
$vivid-sky-blue: hsla(194, 85%, 62%, 1);

/* SCSS RGB */
$flickr-pink: rgba(247, 37, 133, 1);
$purple: rgba(114, 9, 183, 1);
$trypan-blue: rgba(58, 12, 163, 1);
$ultramarine-blue: rgba(67, 97, 238, 1);
$vivid-sky-blue: rgba(76, 201, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
$gradient-right: linear-gradient(90deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
$gradient-bottom: linear-gradient(180deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
$gradient-left: linear-gradient(270deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
$gradient-top-right: linear-gradient(45deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
$gradient-bottom-right: linear-gradient(135deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
$gradient-top-left: linear-gradient(225deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
$gradient-bottom-left: linear-gradient(315deg, #f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);
$gradient-radial: radial-gradient(#f72585ff, #7209b7ff, #3a0ca3ff, #4361eeff, #4cc9f0ff);}